@charset "utf-8";
/* CSS Document */


body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
	}


.section {
	padding-left: 1em;
	background-color:#eee;
	padding-top: .3em;
	padding-bottom: .3em;
	border: 1px solid #ccc;
	}

.section p, .topic p, .threadHeader p {
	margin: 0;
	padding: 0;
	}
	
.section p:first-child, .threadHeader p:first-child {
	font-weight: bold;
	}

.topic {
	padding-left: 1em;
	background-color:#fff;
	padding-top: .3em;
	padding-bottom: .3em;
	border: 1px solid #ccc;
	}

.postid {
	color: #ccc;
	font-size: 150%;
	font-weight: bold;
	float: right;
	}
	
.postid a:hover {
	background-color: #c2ebb1;
	}


	
/* Data tables */
table.data {
	border-collapse: collapse;
	border: 1px solid #333;
	margin: 2em;
	}

table.data td {
	padding: .7em;
	border: 1px solid #333;
	}

table.data th {
	padding: .7em;
	border: 1px solid #333;
	background-color: #EDEDF3;
	text-align: left;
	}
	
/* Tooltip via http://www.queness.com/post/92/create-a-simple-cssjavascript-tooltip-with-jquery */

body {font-family:arial;font-size:12px;text-align:center;}
div#paragraph {width:300px;margin:0 auto;text-align:left}
a {color:#aaa;text-decoration:none;cursor:pointer;cursor:hand}
a:hover {color:#000;text-decoration:none;}

#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:10px;
    width:180px;
	}
 
#tooltip .tipHeader {
    height:8px;
    /*background:url(images/tipHeader.gif) no-repeat;*/
	}
 
/* IE hack */
*html #tooltip .tipHeader {margin-bottom:-6px;}
 
#tooltip .tipBody {
    background-color:#000;
    padding:5px;
	}
 
#tooltip .tipFooter {
    height:8px;
    /* background-color: #FF0; */
	}

